.body {
    height: 8255.88px; /* значение высоты взято из макета - будем менять в зависимости от кол-ва блоков */

    background-color: rgb(238, 238, 231);

    font-family: 'Roboto', sans-serif;
}

.grid-container_body {
    /* основной контейнер в body - он делит всю страницу семантически */
    display: grid;
    grid-template: 2% 92% 6%/1fr;

    width: 100%;
    height: 100%;

    .grid-item_body-header {
        grid-area: 1/1/2/2;
        background-color: #e7e8e3;
    } 

    .grid-item_body-main {
        grid-area: 2/1/3/2;
    }

    .grid-item_body-footer {
        grid-area: 3/1/4/2;

        border: solid orange; /* бордеры - для наглядности, пока верстаем */
    }
}

.grid-container_header {
    display: grid;
    grid-template: 35% 65% / 10% 70% 20%;
    width: 100%;
    height: 100%;
    background-color: white;
    border: solid rgb(191, 201, 255);

    .grid-item_sup-header {
        grid-area: 1/1/2/4;
        align-content: center;

        text-align: center;
        background-color: #939878;
    }

    .header_logo {
        grid-area: 2/1/3/2;
        align-content: center;
    }

    .nav {
        grid-area: 2/2/3/3;
        justify-content: end;

        .nav_links {
            list-style: none;
            display: flex;
            gap: 4rem;
            align-items: center;

            font-size: larger;
            height: 100%;

            a {
                text-decoration: none;
                color: inherit;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5rem;
            }
        }
    }

    .buttons {
        grid-area: 2/3/3/4;
        align-content: center;
        gap: 3rem;

        .flex-container_buttons{
            display: flex;
            justify-content: center;
            gap: 1rem;

            width: 100%;

            .cart {
                border-radius: 0.375rem;
                background-color: transparent;
                border: 0.0625rem solid #e7e8e3;
                box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
            }

            .find-property {
                background-color: #cf6f49;
                color: white;
                border: 1px solid #cf6f49;
                padding: 5px 10px;
                border-radius: 6px;
            }
        }
    }
    .adaptive-mobile_header_buttons{
        display: none;
    }
}

.grid-container_main {
    /* основной контейнер в main - он делит блок main на смысловые части - на наши задачи */
    display: grid;
    grid-template: 9% 30% 20% 27% 2% 10% 2%/5% 1fr 5%;

    width: 100%;
    height: 100%;

    .grid-item_main-block1 {
        grid-area: 1/1/2/4;
        grid-template-columns: 1fr 1fr;
        /*border: solid blue;*/
    }

    .grid-item_main-block2 {
        grid-area: 2/1/3/4;

        border: solid yellow;
    }

    .grid-item_main-block3 {
        grid-area: 3/1/4/4;

        border: solid red;
    }

    .grid-item_main-block4 {
        grid-area: 4/1/5/4;

        border: solid green;
    }

    .grid-item_main-block5 {
        grid-area: 6/2/7/3;

        border: solid orange;
    }
}

.main-block1_Find-house {
    display: grid;
    grid-template: 21% 1fr 21% / 6% 3% 32% 3% 6% 50%;

    width: 100%;
    height: 100%;

    .grid-item-block1-stars-up {
        grid-area: 1/1/2/3;
    }

    .main-block1-Find-house-part1 {
        grid-area: 2/2/3/5;

        .btn-dream-place_text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            width: 100%;
            height: 100%;
        
            .btn-dream-place {
                background-color: #d1d2cb;
                border: solid #d1d2cb;
                border-radius: 2rem;
                padding: 0.4rem 0.8rem;
                text-decoration: none;
                color: #2a2c1f;
            }
        }

        .main-block1_text-title{
            font-family: Roboto;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 4.2rem;

            color: #2A2C1F;
        }
    }
        
        .search-form {
            position: relative;
            display: inline-block;
        }

        .find-property {
            background-color: #cf6f49;
            color: white;
            border: 0.0625rem solid #cf6f49;
            padding: 0.3125rem 0.625rem;
            border-radius: 0.375rem;
        }

        .search-f {
            padding-left: 1.5rem;
        }

        .grid-item-block1-stars-down {
            grid-area: 3/4/4/6;
        }

        .grid-item_main-block1-img {
            grid-area: 1/6/4/7;

            width: 100%;
        }
    }

.grid-container_main-block2_Home {
    /* основной контейнер 2-ого блока main - блоки Маши  */
    display: grid;
    grid-template: 26% 5% 26% 5% 26% 1fr/5% 1fr 5%;

    width: 100%;
    height: 100%;

    background-color: white;

    .grid-item_main-block2-How-it-works {
        grid-area: 1/2/2/3;
    

        .grid-item_main-block2-How-it-works-logoipsum {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: solid black;
        }

        .grid-item_main-block2-How-it-works-logoipsum-text {
            font-size: 1.125rem;
            color: #2a2c1f;
        }

        .grid-item_main-block2-How-it-works-text {
            text-align: center;
        }

        .grid-item_main-block2-How-it-works-title {
            font-size: 3rem;
            font-weight: bold;
            color: #2a2c1f;

            padding-top: 13vh;
        }

        .grid-item_main-block2-How-it-works-desc {
            font-size: 1.125rem;
            color: #65665c;

            padding-top: 1vh;
        }

        .grid-item_main-block2-How-it-works-wrap {
            display: flex;
            justify-content: space-around;
            padding-top: 6vh;
        }

        .grid-item_main-block2-How-it-works-section {
            width: 25vw;
            height: 291px;
            border: 1px solid #e7e8e3;
            border-radius: 5%;

            font-size: 1rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .grid-item_main-block2-How-it-works-section-text {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .grid-item_main-block2-How-it-works-section-text2 {
            padding-left: 2vw;
            padding-right: 2vw;
            text-align: center;
        }
    }

    .grid-item_main-block2-The-best {
        grid-area: 3/2/4/3;

        display: flex;
        justify-content: space-between;

        .grid-item_main-block2-The-best-section {
            padding-top: 20vh;
        }

        .grid-item_main-block2-The-best-subtitle {
            background-color: #e7e8e3;
            border: 0px solid transparent;
            border-radius: 25px;

            width: 107px;
            height: 29px;

            color: #2a2c1f;
            font-size: 1rem;
            text-align: center;
            padding-top: 9px;
        }

        .grid-item_main-block2-The-best-title {
            color: #2a2c1f;
            font-size: 3rem;
            font-weight: bold;
            padding-top: 3vh;
        }

        .grid-item_main-block2-The-best-desc {
            color: #65665c;
            font-size: 1.125rem;
            padding-top: 5vh;
        }

        .grid-item_main-block2-The-best-form {
            display: inline-block;
            padding-right: 1vw;
            padding-top: 3vh;
        }

        .grid-item_main-block2-The-best-button-active {
            width: 192px;
            height: 50px;

            background-color: transparent;
            border: 1.5px solid #e7e8e3;
            border-radius: 10px;
            box-shadow: 3px 3px 3px #e7e8e3;
        }

        .grid-item_main-block2-The-best-button {
            width: 130px;
            height: 40px;

            background-color: transparent;
            border: 0px solid transparent;
        }
    }

    .grid-item_main-block2-Fast-forward-process {
        grid-area: 5/2/6/3;

        display: flex;
        justify-content: space-between;
    }

    .grid-item_main-block2-Fast-forward-process-section {
        padding-left: 7vw;
        padding-top: 7vh;
    }

    .grid-item_main-block2-Fast-forward-process-subtitle {
        background-color: #e7e8e3;
        border: 0px solid transparent;
        border-radius: 25px;

        width: 127px;
        height: 29px;

        color: #2a2c1f;
        font-size: 1rem;
        text-align: center;
    }

    .grid-item_main-block2-Fast-forward-process-title {
        color: #2a2c1f;
        font-size: 3rem;
        font-weight: bold;
        padding-top: 3vh;
    }

    .grid-item_main-block2-Fast-forward-process-desc {
        color: #65665c;
        font-size: 1.125rem;
        padding-top: 5vh;
    }

    .grid-item_main-block2-Fast-forward-process-box-wrap {
        display: flex;
        padding-top: 5vh;
    }

    .grid-item_main-block2-Fast-forward-process-box {
        width: 288px;
    }

    .grid-item_main-block2-Fast-forward-process-text {
        color: #2a2c1f;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .grid-item_main-block2-Fast-forward-process-text2 {
        color: #65665c;
        font-size: 1rem;
    }

    .grid-item_main-block2-Fast-forward-process-form {
        display: inline-block;
        padding-right: 1vw;
        padding-top: 3vh;
    }

    .grid-item_main-block2-Fast-forward-process-button-active {
        width: 192px;
        height: 50px;

        background-color: transparent;
        border: 1.5px solid #e7e8e3;
        border-radius: 10px;
        box-shadow: 3px 3px 3px #e7e8e3;
    }

    .grid-item_main-block2-Fast-forward-process-button {
        width: 130px;
        height: 40px;

        background-color: transparent;
        border: 0px solid transparent;
    }
}

.grid-container_main-block3_Houses {
    display: grid;
    grid-template: 9% 8% 5% 1fr 2% 1fr 4% 3% 9%/6% 3% 21% 4% 2% 28% 2% 4% 21% 3% 6%;

    width: 100%;
    height: 100%;

    .grid-item_main-block3-stairs_right {
        grid-area: 1/10/2/12;
    }

    .grid-item_main-block3-properties {
        grid-area: 2/4/3/9;

        .flex-container_main-block3_properties {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .link_properties {
                background-color: #d1d2cb;
                border: solid #d1d2cb;
                border-radius: 2rem;
                padding: 0.4rem 0.8rem;
                text-decoration: none;
                color: #2a2c1f;
            }

            .text-title {
                font-size: 2.8rem;
                font-weight: 700;
                line-height: 4rem;
                color: #2a2c1f;
            }
        }
    }

    .grid-item_main-block3-card1 {
        grid-area: 4/2/5/5;
    }

    .grid-item_main-block3-card2 {
        grid-area: 4/6/5/7;
    }

    .grid-item_main-block3-card3 {
        grid-area: 4/8/5/11;
    }

    .grid-item_main-block3-card4 {
        grid-area: 6/2/7/5;
    }

    .grid-item_main-block3-card5 {
        grid-area: 6/6/7/7;
    }

    .grid-item_main-block3-card6 {
        grid-area: 6/8/7/11;
    }

    .card {
        transition: 0.7s;
    }

    .card:hover {
        transform: scale(1.1);
    }

    .grid-item_main-block3-explore_properties {
        grid-area: 8/5/9/8;
    }

    .grid-item_main-block3-stairs_left {
        grid-area: 9/1/10/3;
    }

    .link {
        cursor: pointer;
    }
}

.grid-container_main-block4_information-and-reviews {
    /* основной контейнер 4-ого блока main - блоки Sim Ona и Helga */
    display: grid;
    grid-template: 30% 6% 13% 13% 38%/4.5% 1fr 4.5%;

    width: 100%;
    height: 100%;

    .grid-item_main-block4-Locations {
        grid-area: 1/2/2/3;

        .flex-container_main-block4-Locations {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            margin-bottom: 1.6rem;
        }

        .grid-item_main-block4-Locations_text {
            text-align: center;
            margin-bottom: 4.6rem;
        }

        .grid-item_main-block4-Locations-card {
            display: flex;
            flex-wrap: wrap;
            gap: 0.7rem;
            justify-content: center;
            margin-bottom: 4rem;

            width: 100%;

            div {
                width: 31%;
                height: 130px;
                border: 1px solid rgb(231, 232, 227);
                border-radius: 16px;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
                background: rgb(255, 255, 255);
                padding-left: 2.06rem;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            div:hover {
                background: rgba(231, 232, 227, 1);
            }

            .grid-item_main-block4-Locations-card_tittle {
                color: #2a2c1f;
                font-size: 1.25rem;
                font-weight: bold;
            }

            .grid-item_main-block4-Fast-Locations-form {
                display: inline-block;
            }

            .grid-item_main-block4-Fast-Locations-form-button {
                width: 141px;
                height: 24px;

                background-color: transparent;
                border: 0px solid transparent;
                padding-left: 0;

                color: #65665c;
                font-size: 1rem;
            }
        }
    }

    .grid-item_main-block4-Families {
        grid-area: 3/2/5/3;
        z-index: 1;

        border-radius: 24px;
        background-color: #65665c;

        .flex-container_main-block4-Families {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 96px;
            /*margin-top: 7.5vh;*/
            justify-content: center;
        }

        .grid-item_main-block4-Families-img {
            width: 48px;
            height: 48px;
        }

        #text-title-families {
            font-size: 3rem;
            color: rgb(255, 255, 255);
            padding-top: 0.8rem;
            padding-bottom: 1.9rem;
        }

        .grid-item_main-block4-families_text {
            text-align: center;
            font-size: 1.2rem;
            color: rgb(231, 232, 227);
            padding-bottom: 1.3rem;
        }

        #families_button {
            width: 137px;
            height: 50px;
            background-color: #cf6f49;
            color: white;
            border: 1px solid #cf6f49;
            border-radius: 6px;
        }

        #families_button:hover {
            background-color: #65665c;
            border: 2px solid #cf6f49;
            color: #cf6f49;
        }
    }

    .grid-item_main-block4-What {
        grid-area: 4/1/6/4;

        border: solid black;
        background-color: white;

        .grid-container_main-block4-What {
            display: grid;
            grid-template: 22% 18% 10% 5% 29% 1fr/ 11% 24% 3% 24% 3% 24% 11%;

            width: 100%;
            height: 100%;

            .grid-item_main-block4-What-title {
                grid-area: 3/3/4/6;
            }

            .grid-item_main-block4-What-card1 {
                grid-area: 5/2/6/3;
            }

            .grid-item_main-block4-What-card2 {
                grid-area: 5/4/6/5;
            }

            .grid-item_main-block4-What-card3 {
                grid-area: 5/6/6/7;
            }

            .card {
                height: 100%;
            }

            .card:hover {
                background: rgba(231, 232, 227, 1);
            }

            .main-block4-card-customer {
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5rem;
                color: #65665c;
            }
        }
    }
}

.text-title {
    /*Для всех h2-титлов блоков */
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 4rem;
    color: #2a2c1f;
    text-align: center;
}

.text-under-h2 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6875rem;
    color: #65665c;
    text-align: center;
}

/* футер */
.footer {
    padding: 4rem 0;
    background-color: #fff;
    height: 85%;

    .footer-container {
        display: flex;
        justify-content: space-around;
        gap: 5rem;

        .footer-content {
            display: flex;
            gap: 10rem;
            justify-content: space-evenly;

            width: 60%;

            .footer-logo {
                display: flex;
                gap: 1rem;
                height: fit-content;
            }

            .footer-links-col {
                display: flex;
                justify-content: space-around;
                gap: 2rem;

                width: 70%;

                .footer-list {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    list-style: none;

                    .footer-list-link {
                        text-decoration: none;
                        color: #2a2c1f;

                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5rem;
                    }
                }
            }
        }

        .footer-subscribe {
            .footer-subscribe-title {
                font-weight: 400;
                font-size: 1rem;
                color: #2a2c1f;
                margin-bottom: 0.625rem;
            }

            .footer-subscribe-text {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: #65665c;
            }

            .footer_subscribe-form {
                display: flex;
                gap: 1rem;
                margin: 16px 0;

                input[type='text'] {
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.5rem;

                    color: #2a2c1f;

                    padding: 0.75rem 0.875rem;
                    border: 0.0625rem solid #e7e8e3;
                    border-radius: 0.375rem;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                }

                input[type='submit'] {
                    font-weight: 400;
                    font-size: 1rem;

                    color: #ffffff;

                    padding: 0.8125rem 1.75rem;
                    background-color: #cf6f49;
                    border: 0.0625rem solid #cf6f49;
                    border-radius: 0.375rem;
                }
            }

            .footer-subscribe-subtext {
                font-weight: 400;
                font-size: 0.75rem;
                color: #65665c;

                .footer-subscribe-link {
                    text-decoration: none;
                    color: #65665c;
                }
            }
        }
    }
}

.sub-footer {
    /* padding: 24px 0; */
    background: #f5f5f2;
    height: 15%;

    .sub-footer__container {
        max-width: 1192px;
        margin: 0 auto;
        /* padding: 0 20px; */
        display: flex;
        justify-content: space-between;
        height: 100%;

        .sub-footer__copyright {
            font-weight: 400;
            font-size: 0.875rem;
            color: #65665c;
            height: 100%;
            align-content: center;
        }

        .sub-footer__socs {
            display: flex;
            align-items: center;
            gap: 1.125rem;
        }
    }
}

.logo {
    display: flex;
    gap: 1rem;
    height: fit-content;
    margin-left: 1rem;

    .logo_text{
        font-weight: bold;

        padding-top: 0.5rem;

        a{
            text-decoration: none;
            color: #2A2C1F;
        }
    }
}

/* Примерные медиазапросы для адаптации структуры страницы (для tablet - планшета и mobile - мобилки)! Далее внутри каждого своего блока прописывайте нужную адаптацию. Подробнее об адаптации поговорим на созвоне  */

@media screen and /*(min-width: 900px)*/(min-width: 768px) and (max-width: 1023px) {
    .body{
        max-height: 5902px;

        .grid-container_body{

            .grid-container_main{
                grid-template: 13% 43% 30% 14%/1fr;

                .grid-item_main-block1 {
                    grid-area: 1/1/2/2;
                }

                .grid-item_main-block2 {
                    grid-area: 2/1/3/2;
                }

                .grid-item_main-block3 {
                    grid-area: 3/1/4/2;
                }

                .grid-item_main-block4 {
                    grid-area: 4/1/5/2;

                    .grid-container_main-block4_information-and-reviews {
                        grid-template: 1fr/5% 1fr 5%;
                    
                        .grid-item_main-block4-Locations {
                            grid-area: 1/2/2/3;

                            .grid-item_main-block4-Locations_text {
                                margin-bottom: 2.6rem;
                            }

                            .grid-item_main-block4-Locations-card {
                                margin-bottom: 2rem;

                                border: 1px solid red;

                                    div {
                                        width: 45%;
                                    }
                                
                            }
                        }

                        .grid-item_main-block4-Families {
                            display: none;
                        }

                        .grid-item_main-block4-What {
                            display: none;
                        }
                    }
                }
            
                .grid-item_main-block5 {
                    display: none;
                }
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .body{
        max-height: 4475px;

        
        .grid-container_body{
            grid-template: 25% 65% 10%/1fr;

            .grid-item_body-header {
                grid-area: 1/1/2/2;
                background-color: #e7e8e3;
                border: solid black;

                .grid-container_header {
                    grid-template: 20% 30% 1fr 10% / 2% 20% 1fr 8% 2%;

                    border: solid rgb(255, 0, 0);

                    background-image: url(../images/main-block1-Find-house-for/img-right.png);
                    background-repeat: no-repeat;   /*чтобы картинка не повторялась*/
                    background-position: center; /*чтобы картинка была выровнена по центру*/
                    -webkit-background-size: cover; /* картинка заполняет весь экран, не искажаясь - работает только в браузерах Safari и Chrome*/
                    -moz-background-size: cover; /*Задает, что фоновое изображение должно быть наименьшим, но так, чтобы размеры изображения гарантированно были больше или равны заданным значениям для области позиционирования фонового изображения*/
                    -o-background-size: cover; /*определяет ширину и высоту фонового изображения относительно родителя*/
                    background-size: cover; /*чтобы картинка заполняла веcь хедер; вместо cover можно написать contain - тогда слева и справа от картинки в хедере будут поля*/
                
                    .grid-item_sup-header {
                        display: none;
                    }
                
                    .header_logo {
                        grid-area: 1/2/2/3; /* лого увеличить!!*/
                    }
                
                    .nav {
                        grid-area: 1/4/2/5; /* переделать в бургер-меню!! */
                
                        /* .nav_links {
                            list-style: none;
                            display: flex;
                            gap: 4rem;
                            align-items: center;
                
                            font-size: larger;
                            height: 100%;
                
                            a {
                                text-decoration: none;
                                color: inherit;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.5rem;
                            }
                        } */
                    }
                
                    .buttons {
                        display: none;
                    }
                    .adaptive-mobile_header_buttons{
                        grid-area: 3/2/4/5;

                        display: flex;

                        border: solid black;

                        .main-block1_text-title{
                            font-family: Roboto;
                            font-size: 3.5rem;
                            font-weight: 400;
                            line-height: 4.2rem;
                
                            color: #2A2C1F;
                        }
                        .search-form {
                            position: relative;
                            display: inline-block;
                        }
                
                        .find-property {
                            background-color: #cf6f49;
                            color: white;
                            border: 0.0625rem solid #cf6f49;
                            padding: 0.3125rem 0.625rem;
                            border-radius: 0.375rem;
                        }
                
                        .search-f {
                            padding-left: 1.5rem;
                        }
                    }
                }
            } 
        
            .grid-container_main{
                grid-template: 75% 25%/ 1fr;

                .grid-item_main-block1{
                    display: none;
                }

                .grid-item_main-block2 {
                    grid-area: 1/1/2/2;

                    .grid-container_main-block2_Home {
                        grid-template: 26% 37% 37%/20% 1fr 20%;

                        .grid-item_main-block2-How-it-works {
                            grid-area: 1/2/2/3;

                            border: solid green;
                        }

                        .grid-item_main-block2-The-best {
                            grid-area: 2/1/3/4;

                            border: solid black;
                        }

                        .grid-item_main-block2-Fast-forward-process {
                            grid-area: 3/1/4/4;

                            border: solid red;
                        }
                    }
                }

                .grid-item_main-block3 {
                    grid-area: 2/1/3/2;
                }

                .grid-item_main-block4 {
                    display: none;

                    .grid-container_main-block4_information-and-reviews {
                        grid-template: 1fr/5% 1fr 5%;
                    
                        .grid-item_main-block4-Locations {
                            grid-area: 1/2/2/3;
                        }

                        .grid-item_main-block4-Families {
                            display: none;
                        }

                        .grid-item_main-block4-What {
                            display: none;
                        }
                    }
                }
            
                .grid-item_main-block5 {
                    display: none;
                }
            }
        }
    }
}
