.body{
    width: 98vw;
    height: 8255.88px; /* значение высоты взято из макета - будем менять в зависимости от кол-ва блоков */
    
    background-color: rgb(238, 238, 231);
}
    
.grid-container_body{ /* основной контейнер в body - он делит всю страницу семантически */
    display: grid;
    grid-template: 2% 92% 6%/1fr;

    width: 100%;
    height: 100%;
    
    .grid-item_body-header{
        grid-area: 1/1/2/2;
    
        border: solid rgb(191, 201, 255)
    }
    
    .grid-item_body-main{
        grid-area: 2/1/3/2;
    }
    
    .grid-item_body-footer{
        grid-area: 3/1/4/2;
    
        border: solid orange; /* бордеры - для наглядности, пока верстаем */
    }
}
    
.grid-container_main{ /* основной контейнер в main - он делит блок main на смысловые части - на наши задачи */
    display: grid;
    grid-template: 9% 30% 20% 27% 2% 10% 2%/5% 1fr 5%;

    width: 100%;
    height: 100%;
    
    .grid-item_main-block1{
        grid-area: 1/1/2/4;
    
        border: solid blue;
    }
    
    .grid-item_main-block2{
        grid-area: 2/1/3/4;
    
        border: solid yellow;
    }
    
    .grid-item_main-block3{
        grid-area: 3/1/4/4;
    
        border: solid red;
    }
    
    .grid-item_main-block4{
        grid-area: 4/1/5/4;
    
        border: solid green;
    }
    
    .grid-item_main-block5{
        grid-area: 6/2/7/3;
    
        border: solid orange;
    }
}

.grid-container_main-block2_Home{ /* основной контейнер 2-ого блока main - блоки Маши  */
    display: grid;
    grid-template: 26% 5% 26% 5% 26% 1fr/5% 1fr 5%;

    width: 100%;
    height: 100%;

    background-color: white;
    
    .grid-item_main-block2-How-it-works{
        grid-area: 1/2/2/3;
    
        border: solid black;
    }
    
    .grid-item_main-block2-The-best{
        grid-area: 3/2/4/3;
    
        border: solid black;
    }
    
    .grid-item_main-block2-Fast-forward-process{
        grid-area: 5/2/6/3;
    
        border: solid black;
    }
}

.grid-container_main-block3_Houses{ /* основной контейнер 3-его блока main */
    display: grid;
    grid-template: 7% 8% 1fr 1fr 4% 3% 7%/6% 3% 21% 5.5% 29% 5.5% 21% 3% 6%;

    width: 100%;
    height: 100%;

    background-color: #F5F5F2;

    .grid-item_main-block3-stairs_right{
        grid-area: 1/8/2/10;
    }

    .grid-item_main-block3-properties{
        grid-area: 2/4/3/7;
    }

    .grid-item_main-block3-card1{
        grid-area: 3/2/4/5;
    }

    .grid-item_main-block3-card2{
        grid-area: 3/5/4/6;
    }

    .grid-item_main-block3-card3{
        grid-area: 3/6/4/9;
    }

    .grid-item_main-block3-card4{
        grid-area: 4/2/5/5;
    }

    .grid-item_main-block3-card5{
        grid-area: 4/5/5/6;
    }

    .grid-item_main-block3-card6{
        grid-area: 4/6/5/9;
    }

    .grid-item_main-block3-explore_properties{
        grid-area: 6/5/7/6;
    }

    .grid-item_main-block3-stairs_left{
        grid-area: 7/1/8/3;
    }
}

.grid-container_main-block4_information-and-reviews{ /* основной контейнер 4-ого блока main - блоки Sim Ona и Helga */
    display: grid;
    grid-template: 30% 6% 13% 13% 38%/4.5% 1fr 4.5%;

    width: 100%;
    height: 100%;
    
    .grid-item_main-block4-Locations{
        grid-area: 1/2/2/3;
    
        border: solid black;
    }
    
    .grid-item_main-block4-Families{
        grid-area: 3/2/5/3;
        z-index: 1;
    
        border: solid black;
        background-color: #65665C;
    }
    
    .grid-item_main-block4-What{
        grid-area: 4/1/6/4;
    
        border: solid black;
        background-color: white;
    }
}